@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze&family=Grenze+Gotisch:wght@300&display=swap');

#container {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
}

.card {
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(49, 49, 49);
    margin: 30px; 
    padding: 20px;
    width: 150px;
    min-height: 250px;
    background-color: rgb(147, 160, 187);
    color:rgb(37, 34, 10);
    font-family: 'Grenze Gotisch', cursive;
    font-size: 24px;
}

.card-content {
    text-align: center;
    margin-bottom: 30px;
}

#toggle-read {
    background-color: transparent;
    border: none;
    width: 80px;
    margin-left: 35px;
    margin-bottom: 15px;
}

#remove-btn {
    width: 120px;
    margin-left: 15px;
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(30, 59, 116);
    padding: 15px;
    font-family: 'Alfa Slab One', cursive;
}

#info {
    background-color: rgb(29, 49, 92);
    padding: 15px;
}

#fields {
    background-color: rgb(36, 56, 95);
    padding: 15px;
}

body {
    background-color: rgb(82, 99, 133);
    color: whitesmoke;
    font-family: 'Grenze', serif;
    font-size: 20px;
}

input {
    font-family: 'Grenze', serif;
    font-size: 20px;
    margin: auto 40px auto 7px;
    box-shadow: 2px 2px 10px rgb(37, 34, 10);
    text-align: center;
}

button {
    font-family: 'Grenze', serif;
    font-size: 18px;
    background-color: whitesmoke;
    color:rgb(37, 34, 10);
    border: 1px solid rgb(30, 59, 116);
    box-shadow: 2px 2px 10px rgb(37, 34, 10);
}

button:hover {
    font-size: 20px;
    text-decoration-line: underline;
}

#toggle-read {
    box-shadow: none;
}